@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-size: 2.3em;
    width: 400px;
    font-weight: 100;
}

/**** Nav *****/

nav {
    background-color: #C12127;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    height: 30px;
    font-size: 0.8em;
  }
  
nav a {
    color: rgba(255,255,255,0.8);
    text-decoration: none; 
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
}
  
.top-links li {
    display: inline-block;
    margin: 0 15px;
}

.top-left {
    width: 240px;
    float: left;
    margin: 0 0 0 20px;
}

/**** Header ****/

.header {
    background-color: rgb(32, 101, 136);
    color: white;
    position: relative;
}

.header-top {
    padding: 20px 0 35px;
    overflow: hidden;

}

.header-top-left {
    width: 155px;
    float: left;
}

.logo-npm {
    width: 70%;
    padding-left: 20px;
}

.header-top-center {
    float: left;
}

.search-form div,
.search-form div input,
.search-form div button {
    float: left;
    background-color: rgb(31, 82, 111);
}

.search-input {
    width: 1275px; 
    height: 40px;
    padding: 0 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    border: 0.5px solid rgb(255, 255, 255, 0.2);
}

.search-form-button{
    width: 40px;
    height: 40px;
}

.magnifier-button {
    width: 40px;
    height: 41px;
    overflow: hidden;
    border: solid rgb(255, 255, 255, 0.2);
    border-width: 0.9px 0.9px 0.9px 0px;
    font-size: 1em;
}

.header-top-right {
    float: left;
    font-size: 0.8em;
    padding: 12px 5px 12px 20px;
    opacity: 0.5;
}

.link-login {
    color: white;
    text-decoration: none;
}

.header-top-right span, .link-login {
    margin-right: 2px;
}

.logo-bear {
    float: left;
    width: 45px;
}

.header-info {
    clear: both;
    width: 55%;
    margin-top: 80px;
    position: absolute;
    top: 20px;
    left: 380px;
    z-index: 10;
}

.header-info h1 {
    font-size: 3.2em;
    font-weight: 100;
}

.header-info p {
    width: 55%;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 10px 0 30px;
}

.link-signup {
    background-color: rgb(240, 146, 51);
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

/**** Sec1 ****/

.dark-back {
    background-color: rgb(39, 53, 71);
    height: 400px;
    padding-top: 90px;
}

.collaboration-container {
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
    color: white;
}

#collaboration img {
    width: 50%;
    float: left;
    margin-left: 30px;
}

#collaboration h2 {
    float: right;
}

.collaboration-ul {
    width: 387px;
    float: right;
    margin-top: 20px;
}

.collaboration-ul li {
    margin-bottom: 25px;
    letter-spacing: 1px;
    font-size: 0.88em;
}

.link-signup2 {
    background-color: rgb(203, 56, 55);
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 65px;
    margin-right: 20px;
}

.calltoaction {
    float: left;
    margin-left: 65px;
    margin-top: 10px;
}
.calltoaction span {
    float: left;
    letter-spacing: 1px;
    margin-right: 10px;
}

.calltoaction a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/**** Sec2 ****/

#whatis {
    clear: both;
    background: url(../images/forklift.svg) 0 0 no-repeat;
    background-size: cover;
    height: 510px;
    position: relative;
}

.whatis-text {
    position: absolute;
    top: 110px;
    left: 350px;
    float: left;
    width: 500px;
    color: white;
}

.whatis-text p {
    width: 75%;
    line-height: 22px;
    letter-spacing: 1px;
    margin: 10px 0 30px;
}

.whatis-text a {
    background-color: rgb(49, 68, 88);
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

/**** Sec3 ****/

#whatmake {
    margin-top: 70px;
    overflow: hidden;
    padding-bottom: 90px;
    background-color: white;
}

.whatmake-text {
    margin: 0 auto;
    width: 50%;
}

.whatmake-text h2 {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.whatmake-text p {
    text-align: center;
}

.steps {
    width: 60%;
    margin: 50px auto;
}

.col {
    float: left;
    text-align: center;
}

.col-3 {
    width: 30%;
}

.col-middle {
    margin: 0 5%;
}

.col p {
    width: 210px;
    margin: 10px auto;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: rgb(135, 145, 156);
}

.col h4 {
    margin-top: 15px;
    color: rgb(83, 88, 98);
}

.link-steps {
    color: rgb(208, 74, 73);
    text-decoration: none;
}

.newheights-container {
    margin: 0 auto;
    width: 55%;
    color: white;
}

.newheights-container img {
    width: 370px;
    float: left;
}

.newheights-container h2 {
    float: right;
}

.newheights-container p {
    float: right;
    width: 43%;
    margin-top: 20px;
    letter-spacing: 1px;
    line-height: 22px;
}

.newheights-container a {
    background-color: rgb(203, 56, 55);
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    float: left;
    margin-left: 154px;
}